---
import Container from "../ui/Container.astro";
import Section from "../ui/Section.astro";
import Button from "../ui/Button.astro";
import { home } from "../../content/home";

const { demoCta } = home;
---

<Section id="demo-cta" class="demo-cta-section">
  <Container>
    <div class="demo-cta-flow reveal">
      <p class="demo-cta-kicker">{demoCta.title}</p>
      <p class="demo-cta-lead">{demoCta.lead}</p>
      <Button href={demoCta.ctaHref} class="demo-cta-button">{demoCta.cta}</Button>
      <p class="demo-cta-seal">{demoCta.seal}</p>
    </div>
  </Container>
</Section>
